**1. Add the current date to the text file today.txt as a string.**

In [ ]:
import datetime

In [ ]:
a = datetime.date.today()

In [ ]:
b = a.isoformat()
print(b)

2023-04-27

In [ ]:
f = open('today.txt','w')

f.write(b)

f.close()

**2. Read the text file today.txt into the string today_string**

In [ ]:
f = open('today.txt','r')

today_string =f.read()

f.close()

In [ ]:
print((today_string))
print(type(today_string))

2023-04-27
<class 'str'>

**3. Parse the date from today_string.**

In [ ]:
a = datetime.datetime.strptime(today_string,'%Y-%m-%d')

print(type(a))

<class 'datetime.datetime'>

**7. Create a date object of your day of birth.**

In [ ]:
date_of_birth = datetime.date(2000,1,4)

In [ ]:
print(date_of_birth)

2000-01-04

**8. What day of the week was your day of birth?**

In [ ]:
datetime.datetime.weekday(date_of_birth)

1

In [ ]:
datetime.datetime.isoweekday(date_of_birth)

2

**9. When will you be (or when were you) 10,000 days old?**

In [ ]:
b =date_of_birth + datetime.timedelta(days=10000)

In [ ]:
print(b)

2027-05-22

In [ ]:
datetime.datetime.weekday(b)

5

In [ ]:
a = '2023-04-27'
format = '%Y-%m-%d'
a = datetime.datetime.strptime(a,format)
b = a + datetime.timedelta(days =4)
print(b)

2023-05-01 00:00:00