**1. Assign the value 7 to the variable guess_me. Then, write the conditional tests (if, else, and elif) to print the string 'too low' if guess_me is less than 7, 'too high' if greater than 7, and 'just right' if equal to 7.**

In [45]:
guess_me =7

if guess_me <7:
  print('too low')

elif guess_me == 7:
  print('just rights')

else:
  print('too high')

just rights

**2. Assign the value 7 to the variable guess_me and the value 1 to the variable start. Write a while loop that compares start with guess_me. Print too low if start is less than guess me. If start equals guess_me, print 'found it!' and exit the loop. If start is greater than guess_me, print 'oops' and exit the loop. Increment start at the end of the loop.**

In [47]:
guess_me =7
start =1

while True:
  if guess_me >start:
    print('its too low')

  elif guess_me == start:
    print('found it')

  else :
    print('OOPS')
    break

  start = start+1

its too low
its too low
its too low
its too low
its too low
its too low
found it
OOPS

**3. Print the following values of the list [3, 2, 1, 0] using a for loop.**

In [49]:
for i in [3,2,1,0]:
  print(i)

3
2
1
0

**4. Use a list comprehension to make a list of the even numbers in range(10)**

In [51]:
even = [i for i in range(10) if i%2 ==0]

print(even)

[0, 2, 4, 6, 8]

**5. Use a dictionary comprehension to create the dictionary squares. Use range(10) to return the keys, and use the square of each key as its value.**

In [52]:
square = {i : 1**2 for i in range(10)}

In [53]:
square

{0: 1, 1: 1, 2: 1, 3: 1, 4: 1, 5: 1, 6: 1, 7: 1, 8: 1, 9: 1}

**6. Construct the set odd from the odd numbers in the range using a set comprehension (10).**

In [54]:
odd = {i for i in range(10) if i%2==1}

print(odd)

{1, 3, 5, 7, 9}

**7. Use a generator comprehension to return the string 'Got ' and a number for the numbers in range(10). Iterate through this by using a for loop.**

In [62]:
gen = (('Got' + ' '+ str(i)) for i in range(10))

In [63]:
for i in gen:
  print(i)

Got 0
Got 1
Got 2
Got 3
Got 4
Got 5
Got 6
Got 7
Got 8
Got 9

**8. Define a function called good that returns the list ['Harry', 'Ron', 'Hermione'].**

In [64]:
def good():
  return  ['Harry', 'Ron', 'Hermione']

In [65]:
good()

['Harry', 'Ron', 'Hermione']

**9. Define a generator function called get_odds that returns the odd numbers from range(10). Use a for loop to find and print the third value returned.**

In [74]:
def get_odds():

  for i in range(10):
    if i%2 !=0:
      yield i

a =1
for i in get_odds():
  if a == 3:
    print('the 3rd value is ', i)
  a = a+1

the 3rd value is  5

**10. Define an exception called OopsException. Raise this exception to see what happens. Then write the code to catch this exception and print 'Caught an oops'.**

In [67]:
class OopsException(Exception):
  pass

In [69]:
try:
  raise OopsException ('caught an Oops')

except OopsException as e:
  print(e)

caught an Oops

**11. Use zip() to make a dictionary called movies that pairs these lists: titles = ['Creature of Habit', 'Crewel Fate'] and plots = ['A nun turns into a monster', 'A haunted yarn shop'].**

In [70]:
titles = ['Creature of Habit', 'Crewel Fate']

In [71]:

plots = ['A nun turns into a monster', 'A haunted yarn shop']

In [72]:
movies = dict(zip(titles, plots))

In [73]:
movies

{'Creature of Habit': 'A nun turns into a monster',
 'Crewel Fate': 'A haunted yarn shop'}