**1. What is the result of the code, and why?**

>>> def func(a, b=6, c=8):

          print(a, b, c)

>>> func(1, 2)


Answer: 

The result of the abpve code is 1,2,8 . here b is default argument with value 6 and c as 8. if we provide any value to the b and c arguments it will take it other wise it will excecute with default values.

In [1]:
def func(a,b =6,c =8):
  print(a,b,c)

func(1,2)

1 2 8

**2. What is the result of this code, and why?**

>>> def func(a, b, c=5):

          print(a, b, c)

>>> func(1, c=3, b=2)

Answer : The out put of the above code is 1,2,3 . a,b are non default variables and c is default variable with value 5. But while calling the function we have given c value as 3 . So, the out put will be 1,2,3

In [2]:
def func(a, b, c=5):

          print(a, b, c)

func(1, c=3, b=2)

1 2 3

**3. How about this code: what is its result, and why?**

>>> def func(a, *pargs):

                  
                print(a, pargs)


Answer : it will take n number of arguments with atleast one variable for 'a'.

In [9]:
def func(a, *pargs):
      print(a, pargs)

func(1)

1 ()

In [10]:
def func(a, *k):
      print(a, k)

func(1,2,3,4,5,6)

1 (2, 3, 4, 5, 6)

**4. What does this code print, and why?**

def func(a, **kargs):

        print(a, kargs)

func(a=1, c=3, b=2)

Answer : it will take argumnet 'a' value as 1 and take n number of arguments in key value pair format(dictoionary).

In [11]:
def func(a, **kargs):

        print(a, kargs)

func(a=1, c=3, b=2)

1 {'c': 3, 'b': 2}

**5. What gets printed by this, and explain?**

def func(a, b, c=8, d=5):

     print(a, b, c, d)

func(1, *(5, 6))

Answer : The varibale a = 1, b= 5,c =6,d =5

In [15]:
def func(a, b, c=8, d=5):

     print(a, b, c, d)

func(1,*(5, 6))

1 5 6 5

**6. what is the result of this, and explain?**

def func(a, b, c): 

  a = 2; b[0] = 'x'; c['a'] = 'y'
   
   
l=1; m=[1]; n={'a':0}

func(l, m, n)

l, m, n

In [19]:
def func(a, b, c): 
  a = 2; b[0] = 'x'; c['a'] = 'y'


l=1; m=[1]; n={'a':0}

func(l, m, n)

In [21]:
print(l,m,n)

1 ['x'] {'a': 'y'}